<h1>Bem Vindo ao Sistema de Eventus</h1>
<p><%= link_to "Eventos", events_path %></p>
<p><%= link_to "Inscrições", registrations_path %></p>
<p><%= link_to "Usuários", users_path %></p>
<p><%= link_to "Atividades", activities_path %></p>