<footer class="footer">
  <small>
    <strong>Eventus by </strong><a href="https://github.com/Davinasc">Davi Nascimento</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>